<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>514221203325-4ef73eeg34bajv974if68us5vk546si0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.514221203325-4ef73eeg34bajv974if68us5vk546si0</string>
	<key>API_KEY</key>
	<string>AIzaSyD8bzIAPOAJRM5kf7Uj51KTKX3dfUwsnjE</string>
	<key>GCM_SENDER_ID</key>
	<string>514221203325</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseApp</string>
	<key>PROJECT_ID</key>
	<string>skillbox-firebase-6c6e9</string>
	<key>STORAGE_BUCKET</key>
	<string>skillbox-firebase-6c6e9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:514221203325:ios:6d2a13d79e67b7f9197614</string>
</dict>
</plist>